@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .ease-expo-out {
    transition-timing-function: cubic-bezier(0,1.25,0,1);
  }
  .text-2xs {
    font-size: 11px;
  }
  .w-15 {
    width: 60px;
  }
  .min-w-80 {
    min-width: 320px;
  }
  .max-w-80 {
    max-width: 320px;
  }
  .max-w-112 {
    max-width: 448px;
  }
}

@layer base {
  body {
    @apply min-h-screen text-slate-400 dark:text-slate-500;
  }
}

@layer components {
  /* Icon */
  .bx-icon-primary {
    @apply fill-slate-400 dark:fill-slate-600 transition-all;
  }
  .bx-icon-secondary {
    @apply fill-slate-300 dark:fill-slate-400 transition-all;
  }
  /* Layout */
  .bx-container {
    @apply flex flex-col bg-white justify-center dark:bg-slate-800 min-h-screen mx-auto md:flex-row md:items-stretch;
  }
  .bx-section {
    @apply w-full md:min-w-80 md:max-w-112 flex flex-col gap-y-12 bg-white dark:bg-slate-700 md:border-r md:border-r-slate-100 dark:md:border-r-slate-900 dark:md:border-opacity-70;
  }
  .bx-section-row {
    @apply flex flex-col items-center gap-y-10;
  }
  .bx-section:first-of-type {
    @apply md:max-w-80 bg-slate-50 dark:bg-slate-800 md:border-l md:border-l-slate-100 dark:md:border-l-slate-900 dark:md:border-opacity-30;
  }
  /* Page Header */
  .bx-header {
    @apply flex items-center justify-between pt-12 pb-0 px-8;
  }
  .bx-header-meta {
    @apply flex flex-col gap-y-0.5;
  }
  .bx-header-title {
    @apply text-2xl font-extrabold text-slate-700 dark:text-white;
  }
  .bx-header-desc {
    @apply text-2xs text-slate-400;
  }
  .bx-header-icon {
    @apply w-12 h-12 flex justify-center items-center rounded-2xl bg-slate-100 dark:bg-slate-600;
  }
  .bx-header-icon svg {
    @apply w-7 h-7 flex items-center justify-between;
  }
  .bx-header-icon .bx-icon-primary {
    @apply fill-slate-500 dark:fill-slate-300;
  }
  .bx-header-icon .bx-icon-secondary {
    @apply fill-slate-400 dark:fill-slate-400;
  }
  /* Logo */
  .bx-logo-primary {
    @apply fill-blue-600 dark:fill-white transition-colors;
  }
  .bx-logo-secondary {
    @apply fill-slate-400 dark:fill-white dark:opacity-50 transition-colors;
  }
  /* Hero */
  .bx-hero {
    @apply flex-none flex flex-col items-center;
  }
  .bx-hero-logo {
    @apply w-full pt-8 pb-8 flex items-center justify-center;
  }
  .bx-hero-logo a {
    @apply inline p-4 transition-all hover:transform hover:scale-110 focus:scale-100 active:scale-100;
  }
  .bx-hero-logo a:hover .bx-logo-primary {
    @apply fill-yellow-400;
  }
  .bx-hero-logo a:hover .bx-logo-secondary {
    @apply fill-blue-600 opacity-100;
  }
  .bx-hero-links {
    @apply w-full px-8 mt-14;
  }
  .bx-hero-links > .bx-button-group > * {
    @apply flex-1;
  }
  .bx-hero-links > .bx-button-group .bx-button {
    @apply w-full;
  }
  .bx-hero-links > .bx-button-group > a {
    @apply w-full outline-none;
  }
  .bx-hero-links > .bx-button-group .bx-button-label {
    @apply w-full;
  }
  /* Button */
  .bx-button {
    @apply relative flex items-stretch outline-none;
  }
  .bx-button-label {
    @apply m-[3px] mt-0 active:mt-0.5 focus:mt-0.5 relative z-10 px-2.5 flex flex-nowrap whitespace-nowrap gap-x-1 justify-center items-center bg-white dark:bg-slate-500 hover:bg-slate-100 active:bg-blue-50 focus:bg-blue-50 dark:hover:bg-slate-400 dark:active:bg-slate-300 dark:focus:bg-slate-300 text-slate-600 dark:text-slate-900 hover:text-slate-500 dark:hover:text-slate-800 border rounded border-slate-300 dark:border-slate-900 font-bold transition-all;
  }
  .bx-button-group > a:active .bx-button-label,
  .bx-button-group > a:active .bx-button-label {
    @apply mt-0.5 bg-blue-50 dark:bg-slate-300;
  }
  .bx-button-background {
    @apply absolute inset-0 top-[3px] z-0 bg-slate-200 dark:bg-slate-700 border rounded border-slate-300 dark:border-slate-900;
  }
  /* Button Group */
  .bx-button-group {
    @apply inline-flex relative;
  }
  .bx-button-group > * + *:not(.bx-button-background) {
    @apply -ml-1;
  }
  .bx-button-group .bx-button .bx-button-background {
    @apply hidden;
  }
  /* Nav */
  .bx-nav {
    @apply flex flex-col gap-y-8;
  }
  .bx-nav-category {
    @apply text-slate-400 text-2xs font-extrabold mb-2.5 px-8;
  }
  .bx-nav-children {
    @apply flex flex-col;
  }
  .bx-nav-item {
    @apply flex gap-x-4 items-center px-8 py-3.5;
  }
  .bx-nav-icon {
    @apply w-8 h-8 relative flex flex-none justify-center items-center;
  }
  .bx-nav-icon::after {
    content: '';
    @apply w-0 h-0 absolute left-1/2 top-1/2 z-0 transform -translate-x-1/2 -translate-y-1/2 rounded-full bg-slate-50 dark:bg-slate-800 transition-all duration-300;
  }
  .bx-nav-icon svg {
    @apply w-6 h-6 relative z-10 transition-all;
  }
  .bx-nav-label {
    @apply flex flex-col grow gap-y-0.5 justify-center;
  }
  .bx-nav-name {
    @apply text-slate-500 text-sm font-semibold transition-all;
  }
  .bx-nav-desc {
    @apply text-slate-400 text-2xs font-medium transition-all;
  }
  .bx-nav-arrow {
    @apply w-2 h-3 flex-none fill-slate-300 transition-transform;
  }
  .bx-nav-item:hover .bx-nav-arrow {
    @apply fill-blue-600 dark:fill-blue-500 transform translate-x-2;
  }
  .bx-nav-item:hover .bx-nav-icon::after {
    @apply w-8 h-8 bg-blue-300 dark:bg-blue-900;
  }
  .bx-nav-item:hover .bx-nav-icon svg {
    @apply w-7 h-7;
  }
  .bx-nav-item:hover .bx-icon-primary {
    @apply fill-blue-600;
  }
  .bx-nav-item:hover .bx-icon-secondary {
    @apply fill-yellow-400;
  }
  .bx-nav-item:hover .bx-nav-name {
    @apply text-blue-600 dark:text-blue-500 transform translate-x-1 delay-100;
  }
  .bx-nav-item:hover .bx-nav-desc {
    @apply text-blue-500 dark:text-blue-500 transform translate-x-1 delay-100;
  }
  /* Footer */
  .bx-footer {
    @apply flex flex-col gap-y-5 px-8 pb-8 text-slate-300 dark:text-slate-600;
  }
  .bx-footer-logo {
    @apply flex items-center;
  }
  .bx-footer-contact {
    @apply flex flex-col text-2xs;
  }
  .bx-footer-contact a {
    @apply text-base font-extrabold;
  }
  .bx-footer-logo a {
    @apply transition-all hover:transform hover:scale-110 active:scale-100 focus:scale-100;
  }
  .bx-footer-logo .bx-logo-primary,
  .bx-footer-logo .bx-logo-secondary {
    @apply fill-slate-300 dark:fill-slate-600;
  }
  .bx-footer-logo a:hover .bx-logo-primary {
    @apply fill-yellow-400;
  }
  .bx-footer-logo a:hover .bx-logo-secondary {
    @apply fill-blue-600;
  }
  .bx-footer-sns {
    @apply flex items-center gap-x-4;
  }
  .bx-footer-sns a {
    @apply text-slate-300 dark:text-slate-600;
  }
  .bx-footer-sns svg {
    @apply w-4 h-4 fill-slate-300 dark:fill-slate-600;
  }
  /* Promotion Index */
  .bx-promotions {
    @apply p-8 flex flex-col gap-y-8;
  }
  .bx-promotion-image {
    @apply shadow-lg rounded-lg;
  }
  /* Page Banner */
  .bx-banner {
    @apply flex items-center shadow-lg rounded-lg py-2 pl-4 pr-3 mx-8 gap-x-3;
  }
  .bx-banner-icon {
    @apply flex flex-none justify-center items-center;
  }
  .bx-banner-icon svg {
    @apply w-4 h-4;
  }
  .bx-banner-icon .bx-icon-primary {
    @apply fill-yellow-800;
  }
  .bx-banner-icon .bx-icon-secondary {
    @apply fill-yellow-600;
  }
  .bx-banner-title {
    @apply flex grow shrink items-center truncate overflow-hidden break-words text-xs font-bold text-yellow-700;
  }
  .bx-banner-link {
    @apply flex flex-none items-center;
  }
  .bx-banner-link .bx-button-label {
    @apply bg-white hover:bg-yellow-50 active:bg-white focus:bg-white text-yellow-600 hover:text-yellow-700 border-yellow-600;
  }
  .bx-banner-link .bx-button-background {
    @apply bg-yellow-500 border-yellow-600;
  }
  .bx-post {
    @apply mx-8 relative flex flex-col transition-all transform hover:scale-[1.02];
  }
  .bx-post-link {
    @apply m-[3px] mt-0 transform active:translate-y-0.5 focus:translate-y-0.5 relative z-10 overflow-hidden flex flex-col bg-white dark:bg-slate-800 hover:bg-slate-100 active:bg-blue-50 focus:bg-blue-50 dark:hover:bg-slate-900 dark:active:bg-slate-800 dark:focus:bg-slate-800 border rounded-lg border-slate-300 dark:border-slate-800 transition-all;
  }
  .bx-post-thumb {
    @apply h-56;
  }
  .bx-post-thumb img {
    @apply object-cover;
  }
  .bx-post-info {
    @apply h-14 flex-none flex items-center justify-between gap-x-1 px-4;
  }
  .bx-post-meta {
    @apply flex flex-col grow gap-y-1;
  }
  .bx-post-title {
    @apply text-slate-600 dark:text-slate-300 text-sm font-bold;
  }
  .bx-post-date {
    @apply text-slate-400 dark:text-slate-500 text-xs;
  }
  .bx-post-avatar {
    @apply flex-none;
  }
  .bx-post-background {
    @apply absolute transition-all inset-0 top-[3px] z-0 bg-slate-200 dark:bg-slate-700 border rounded-[10px] border-slate-300 dark:border-slate-800 shadow-xl shadow-slate-200 dark:shadow-slate-800;
  }
  .bx-post-link:focus ~ .bx-post-background,
  .bx-post-link:active ~ .bx-post-background {
    @apply shadow-md -bottom-0.5;
  }
}

